extends ../layout

block layout-content
    div
        h1 #{title}

        p Welcome to the game!

        p To solve the riddle you need to send a request to the specific endpoint.

        p For example, to start solving the first riddle you need to send a GET request to `/riddles/1`.

        p Good luck!
