extends layout

block layout-content
    div
        h1
        div.narration
            p Oh no! It looks like you've taken a wrong turn and ended up in a dead end!

            p Looks like the treasure you were hunting for isn't here. But don't worry, there's no need to panic.

            p Take a deep breath and turn around.

            p You glance down at your map and see the words "/help" written in the corner.

            p Good luck!
