extends layout

block layout-content
    div
        h1
        div.narration
            p Oh no! You have encountered a 500 server error. It looks like the gods have abandoned you in this mysterious island. You must use your wits and courage to find your way out of the island and search for the hidden treasures!
            
