extends layout

block layout-content
    div
        h1 API game help
        p The purpose of the game is to help you learn more about API: how to use, design, write and test it.
        p Here are some tips to get you started:
        ul
            li.
                You can get more familiar with the game and Postman by going to #[a( href='/tutorials') /tutorials] endpoint.
            li.
                You can solve some challenges and get points by going to #[a( href='/stages') /stages] endpoint.
            //li.
            //    You can see your current score by going to #[a( href='/score') /score] endpoint.
            li.
                To unlock the next stage you need to finish the previous one.
