extends layout

block layout-content
    div
        h1 Chapter 1: The Island
        div.narration
            p You awaken on a mysterious island, surrounded by the sound of waves crashing against the shore. The sun is just beginning to peak over the horizon, illuminating the lush green foliage of the island.
            p You take your first steps onto the shore and notice a strange, rusted map laying in the sand. You pick it up and examine it carefully, noticing a few landmarks and clues scrawled across its surface.
            p You know that this map is your only hope of escaping the island and finding the hidden treasures it holds. With your newfound knowledge in hand, you set off on your adventure.
