extends layout

block layout-content
    div
        h1 Welcome to API game!
        p In this game, you'll be exploring a mysterious island, searching for hidden treasures and uncovering secrets along the way.
        p You'll use RESTful APIs to navigate your way through the island, looking for clues and piecing together the puzzle.
        p It's a great way to learn how to use and design RESTful APIs, without having to write any code!
        p So get ready to have an adventure and see what you can discover in this strange and magical place.
        p Good luck on your journey!
        ul
            li.
                Go to #[a( href='/tutorials' ) /tutorials] to learn API and Postman basics and get familiar with the game.
            li.
                Go to #[a( href='/riddles' ) /riddles] to solve some challenges and get points.
