extends ../layout

block layout-content
    div.narration
        p You pick up the note. It reads:

        blockquote
            .
                If you would like to take me with you,
            br
            .
                Your inventory, you must pursue.
            br
            .
                Send a request with the resource path,
            br
            .
                And you'll have me in no time, alas!
