extends ../layout

block layout-content
    div.narration
        p You are standing on a beach, the sand is hot beneath your feet. The sun beats down from the sky, making you feel sleepy.
        p You walk along the beach and notice a piece of paper on the sand. It's a note.
