extends ../layout

block layout-content
    div.narration
        p You are standing on a beach, the sand is hot beneath your feet. The sun beats down from the sky, making you feel sleepy.
        p You look around for clues and notice a large rock with a strange inscription on it.

        blockquote
            .
                On this beach I must roam,
            br
            .
                To find the stages where I'm home.
            br
            .
                To find the items I must seek,
            br
            .
                On each stage I must take a peek.

