extends ../layout

block layout-content
    div
        h1 #{title}

        p Let's try to send some custom headers. In your request add `Content-Type` header with value `application/json`.

        p Then send the request again.
