extends ../layout

block layout-content
    div
        h1 #{title}

        p Now let's talk about HTTP methods.

        p There are 4 main HTTP methods:
        ul
            li GET
            li POST
            li PUT
            li DELETE

        p Try to change the method of your request to `POST` and send it again.
