extends layout

block layout-content
    div
        h1 Congratulations! You have finished the first chapter!
        p For now this is all we have prepared for you. Please check out the API game repository on GitHub: #[a( href='https://github.com/API-game/chapter-1' ) https://github.com/API-game/chapter-1 ]
        p Maybe you want to contribute? :)
