extends layout

block layout-content
    div
        h1 Welcome to API game: chapter 1!
        p Let's learn some REST API basics.
        ul
            li.
                Go to #[a( href='/tutorials' ) /tutorials] to learn API and Postman basics and get familiar with the game.
            li.
                Go to #[a( href='/riddles' ) /riddles] to solve some challenges and get points.
